{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>mySpy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Welcome to mySpy web server" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="gs0mani" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"/>
    </head>
    <body>
        <div class="container">
            <div class="codrops-top">
                {% if user.is_authenticated %}
                <p>hello</p>
                <p>welcome {{ user.username }}</p>
                <p><a href="/logout">Logout</a></p>
                {% else %}
                <a href="/login">
                    <strong style="color:blue; font:">&laquo; <u><b>Login</b></u> </strong>
                </a>
                <a href="/register">
                    <strong style="color:blue;"><u><b>Join Us</b></u></strong>
                </a>
                {% endif %}
            </div>
            <header>
                <h1>Indoor Mapping Solutions <span> Welcome to mySpy web server</span></h1>
            </header>
        </div>
    </body>
</html>